.event {
  position: absolute;
  left: 0;
  width: 85%;
  height: 85%;
  background: #c6dafc;
  opacity: 1;
  z-index: 1;
  border-radius: 5px;
  padding: 5px;
  
  div{
    white-space: nowrap; 
    text-overflow: ellipsis;
   
    overflow: hidden;
  }
}