* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1;
  color: #454648;
}

button{
  background: transparent;
  border: none;
  color: #454648;
}

#root {
}

.calendar{
  
}

.header{
  border-bottom: 2px solid #dbdce0;
}

.header-navigatin{
  display: flex;
  max-width: 1000px;
  width: 100%;
  justify-content: space-between;
  padding: 30px 15px 20px;
}

.add-btn{
  max-width: 230px;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 40px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  
  &__wr{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 140px;
    width: 100%;
  }
  
  &__icon{
    font-size: 90px;
  }
  
  &__text{
    font-size: 22px;
  }
}

.current-date-btn{
  max-width: 160px;
  width: 100%;
  border: 2px solid #dcdcdc ;
  border-radius: 5px;
  
  &__text{
    font-size: 22px;
    font-weight: bold;
  }
}

.mounth-navigation{
  max-width: 490px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__btns-wr{
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__btn{
    border: none;
    font-weight: bold;
    font-size: 60px;
  }

  &__current-mounth{
    font-size: 60px;
    font-weight: bold;
  }
}

.main{
    padding: 0 15px;
    display: flex;
}

.sidebar{
  max-width: 150px;
  width: 100%;
  padding-top: 165px;

  &__hour{

  }

  &__hour-text{

  }
}

.table-navigatin{
  display: flex;
  justify-content: space-between;
  

  // span{
  //   display: block;
  // }

  &__day{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    flex-grid-row: 1;
    flex-shrink: 1;
  }

  &__day-name{
    font-size: 35px;
    text-transform: capitalize; 
  }

  &__day-date{
    font-size: 60px;
    font-weight: 500;
    width: 95px;
    height: 95px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .num{

    }
  }

  &__day-name.current{

  }

  &__day-date.current{
    background: blue;
    
  }
}

.table{
  width: 100%;
  &__week{

  }

  &__day{

  }

  &__hour{

  }
}

