$blue: #1a73e8;
$black:#454648;

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, sans-serif;
  line-height: 1;
  color: $black;
}

button{
  background: transparent;
  border: none;
  color: $black;
  cursor: pointer;

  &:focus{
    outline: none;
  }
}

#root {
}

.calendar{
  
}


.main{
    padding: 302px 15px 50px;
    display: flex;
}




