
$blue: #1a73e8;
$black:#454648;

.pop-up.hide{
  display: none;
}

.pop-up.show{
  display: block;
}

.pop-up{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: rgb(255, 255, 255);
  z-index: 5;
  max-width: 600px;
  width: 100%;
  height: 450px;
  box-shadow: 3px 10px 20px rgb(190, 187, 187);
  border-radius: 10px;
  padding: 50px 20px 0;

  & input{    
    background: transparent;
    width: 100%;
    
    &:focus{
      outline: none;
    }
  }

  &__close{
    width: fit-content;
    font-size: 20px;
    top: 20px;
    right: 20px;
    position: absolute;
    cursor: pointer;
  
    &:hover{
      transform: rotate(180deg);
      transition: all ease-in-out .3s;
      color: $blue;
    }
  }

  &__form-wr{
    display: flex;  
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

 &__title{
   border: none;
   border-bottom: 4px solid $black;
   margin-bottom: 20px;
   font-size: 40px;
   transition: all ease-in-out 0.3s;
  font-family: Roboto, Arial, sans-serif;
  color: $black;

   &:focus{
    border-bottom: 4px solid $blue;
   }
 }

 &__time-set{
     border: none ;
     font-size: 20px;
     height: 40px;
    //  border-bottom: 2px solid $black;
     margin-right: 15px;
     margin-bottom: 20px;
     letter-spacing: 2px;
     cursor: pointer;
     position: relative;
     
     &::before{
       content: '';
       transition: all ease-in-out .5s;
       position: absolute;
       bottom: 0;
       height: 5px;
       width: 0px;
       background: $black;
     }

     &:focus, &:hover{
       color: $blue;
       &::before{
       content: '';
       position: absolute;
       bottom: 0;
       height: 2px;
       width: 100%;
       background: $blue;
      }
     }
   }

   &__date{
     max-width: 245px;
   }

   &__startTime{
      max-width: 100px;
   }

   &__endTime{
     max-width: 100px;
  }

  &__description{
    // border: none;
    width: 100%;
    font-size: 25px;
    resize: none;
    border: 2px solid $black;
    transition: all ease-in-out 0.3s;
    outline: none;
    min-height: 150px;
    overflow: hidden;
    margin-bottom: 40px;

    &:hover, &:focus{
      border: 2px solid $blue;
    }
  }

  .form-control.btn-control{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__submit-button{
    padding: 15px;
    background: $blue;
    border-radius: 5px;
    max-width: 150px;
    width: 100%;
    color: white;
    transition: all ease-in-out .3s;

    &:hover{
      box-shadow: 1px 5px 10px rgb(110, 105, 105);
    }
    
    &:active{
       box-shadow: 0px 0px 0px rgb(110, 105, 105);
    }

  }
}
// ::-webkit-datetime-edit { padding: 1em; }
// ::-webkit-datetime-edit-fields-wrapper { background: silver; }
// ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
// ::-webkit-datetime-edit-month-field { color: blue; }
// ::-webkit-datetime-edit-day-field { color: green; }
// ::-webkit-datetime-edit-year-field { color: purple; }
// ::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { 
  cursor: pointer;
}


